@media only  screen and (min-width:900px){
   div.ppl{
       transform: scale(1.4);
   }
   div.row:not(:first-child){
    margin-top:120px !important;
}
div.row>div.ppl:not(:first-child){
    margin-left:120px !important;
}
div.container{
    position: relative;
    margin-top:100px!important;
}

}